<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p><strong><a href="{% url 'bookstore:index' %}">Move back</a></strong></p>

{% if store_list %}
    <table>
    <tr>
        <th>Name</th>
        <th>Number of books</th>
    </tr>
    {% for store in store_list %}
        <tr>
            <th><a href="{% url 'bookstore:store-detail' pk=store.pk %}">{{ store.name }}</a></th>
            <th>{{ store.num_books }}</th>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No items available</p>
{% endif %}

</body>
</html>