{% extends 'rediscache/base.html' %}

{% block title %}Author detail{% endblock %}

{% block content %}

    <p><strong><a href="{% url 'rediscache:author' %}">To list of authors</a></strong></p>


    <table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Average rating</th>
        <th>Books</th>
    </tr>
    <tr bgcolor="#f5f5dc">
        <th>{{ object.name }}</th>
        <th>{{ object.age }}</th>
        <th>{{ object.avg_rating|floatformat:"2" }}</th>
        <th>{{ object.book_set.all }}</th>
    </tr>
    </table>

    <div class="author actions">
        <form action="{% url 'rediscache:author-update' pk=object.pk %}" style="display: inline-block">
            {% csrf_token %}
            <input type="submit" value="Update">
        </form>
        <form action="{% url 'rediscache:author-delete' pk=object.pk %}" style="display: inline-block">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    </div>

{% endblock %}