{% extends 'rediscache/base.html' %}

{% block title %}List of authors{% endblock %}

{% block content %}

    <p><strong><a href="{% url 'rediscache:index' %}">To index page</a></strong></p>

     <div class="creation author">
        <p style="display: inline-block">Add new author:</p>
        <form action="{% url 'rediscache:author-create' %}" style="display: inline-block">
            {% csrf_token %}
            <input type="submit" value="Create">
        </form>
    </div>

    <table>
     <tr>
        <th>Name</th>
        <th>Number of books</th>
    </tr>
    {% for author in object_list %}
        <tr>
            <th><a href="{% url 'rediscache:author-detail' pk=author.pk%}">{{ author.name }}</a></th>
            <th>{{ author.num_books }}</th>
        </tr>
    {% empty %}
        <tr>
            <th>None</th>
            <th>None</th>
        </tr>
    {% endfor %}
    </table>

    <div class="pagination">
        {% if is_paginated %}
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        {% endif %}
    </div>

{% endblock %}